body {
	background-color: #f3f3f3;
	font-family: Arial, sans-serif;
	text-align: center;
  }
  
  h1 {
	color: #333;
  }
  
  button {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #45a049;
  }
  
  button:active {
	background-color: #3c903c;
  }
  
  .checkbox-group {
	  margin-bottom: 10px;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	}